.App {
  text-align: center;
  display: flex;
  background-color: #282c34;
  color: white;
  position: absolute;
  top:0;bottom: 0;
right:0;left:0}

body {
  background-color: #282c34;
}

.signinbox {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 60px;
}
.signinbox > a {
  color: #949aa5;
}
.signinbox > div > input {
  border: none;
  border-radius: 5px;
  margin: 1px;
  align-items: right;
  background-color: #1c1e20;
  padding: 12px;
}
.signinbox > button {
  background-color:#cdd0d6;
  border: none;
  border-radius: 5px;
  padding: 5px 12px 5px 12px;
  cursor: pointer;
  margin: 10px;
}
.signinbox > button:hover {
  background-color: #13161d;
  color: white;
  transition: ease .25s;
}
.banner {
  font-size: 32px;
  padding-bottom: 30px;
}


.side-menu {
  width: 240px;
  background-color: #1c1e20;
  padding: 10px;
}
.side-menu-button {
  border-radius: 10px;
  border: 1px solid grey;
  padding: 12px;
  text-align: left;
}
.side-menu-button > span {
  padding: 0 6px 0 12px;
}
.side-menu-button:hover {
  background-color: #282c34;
  transition: ease .35s;
}

.chatbox {
  flex: 1;
  position: relative;
}
.chat-input-holder {
  padding: 10px;
  position: absolute;
  bottom: 0; left:0;right:0;
  }
.chat-input-ta {
  background-color: #3f444e;
  width: 80%;
  height: 100px;
  border-radius: 10px 0 0 10px;
  padding: 12px;
  border: none;
  outline: none;
  color: white;
  font-size: 14px;
  vertical-align: middle
}
.submit-btn {
  background-color: #435270;
  border: none;
  height:100px;
  width: 100px;
  color:#f3f5f9;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
  vertical-align: middle
}
.submit-btn:hover {
  background-color: #62759a;
  transition: ease .5s;
}

.chat-log {
  /* padding: 24px; */
  text-align: left;
  /* display: flex; */
}
.chat-message {
  /* padding-left: 40px; */
  padding: 12px;
}
.chat-message-center {
  display: flex;
  padding: 12px;
  /* padding-left: 40px; */
  padding-right: 40px;
  max-width: 640px;
  margin-left: 100px;
  margin-right: 100px;
}
.chat-message.ai {
  background-color: #3f444e;
}
.avatar {
background-color: white;
border-radius: 50%;
width: 40px;
height: 40px;
}
.message {
padding-left: 40px;
padding-top: 12px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
